$backgroundDark: #222;
$backgroundLight: #F1E4E6;
$backgroundOffers: #FFF;
$backgroundInputForm: #E1E1E1;
$basketBackground: #F16D7F;
$hoverBackground: #F16D7F;
$titleColor: #F16D7F;
$titleColorDark: #222;
$textColorLight: #FFF;
$textColorDark: #000;
$textColor: #9F9F9F;
$textFeatColor: #a5a5a5;
$borderButton: 1px solid #FF6A6A;