@import 'vars';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: $backgroundDark;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        gap: 40px;
        align-items: baseline;
    }
}

.menu {
    display: flex;
    align-items: baseline;


    &__pop-up {
        position: relative;
    }

    &__pop-up>summary {
        list-style-image: url("./img/header_menu_mobile.svg");
    }

    &__lk {
        padding-left: 25px;
        padding-right: 42px;
    }

    &__basket {
        position: relative;
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
    }

    &__basket img {
        height: 29px;
    }

    .five__goods::after {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        content: "5";
        background-color: $basketBackground;
        border-radius: 50px;
        width: 19px;
        height: 19px;
        color: $textColorLight;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        top: 0;
        right: 0;
    }
}

.hamburger {
    top: 46px;
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 150px;
    background: #FFF;
    padding: 32px;

    &__title {
        color: $textColorDark;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__subtitle {
        color: $titleColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__link {
        padding-left: 21.5px;
        color: $textColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.half {
    width: 50%;
}

.top {
    background-color: $backgroundLight;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__right {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    &__title {
        color: $titleColorDark;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    &__title-small {
        color: $titleColorDark;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__title-small .pink {
        color: $titleColor;
    }
}

.offers {
    margin-top: 65px;
    margin-bottom: 96px;
    background: $backgroundOffers;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;

    &__title {
        color: $titleColor;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        color: $textColorLight;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__offer {
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    & .women {
        background: url(./img/offer_women.png);
    }

    & .men {
        background: url(./img/offer_men.png);
    }

    & .kids {
        background: url(./img/offer_kids.png);
    }

    & .accesories {
        background: url(./img/offer_accesories.png);
        width: 1140px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.content {
    padding-bottom: 60px;
    text-align: center;

    &__title {
        color: $titleColorDark;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 6px;
    }

    &__text {
        color: $textColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button {
        text-align: center;
        border: $borderButton;
        padding: 15px 40px;
        color: $titleColor;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.3s;
    }

    &__button:hover {
        color: $textColorLight;
        background-color: $hoverBackground;
    }
}

.products {
    margin-top: 47px;
    margin-bottom: 48px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;

    &__item {
        height: 581px;
        text-align: left;
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__link .main-img {
        transition: all 1s;
    }

    &__link .hover-img {
        transition: all 0.3s;
        position: absolute;
        top: 188px;
        left: 110px;
        visibility: hidden;
    }

    &__link:hover .main-img {
        filter: brightness(40%);
    }

    &__link:hover .hover-img {
        visibility: visible;
    }

    &__description {
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    &__title {
        color: $textColorDark;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        color: $textColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__price {
        color: $titleColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.features {
    display: flex;
    gap: 30px;
    background-color: $backgroundDark;
    padding-top: 103px;
    padding-bottom: 104px;
    justify-content: center;

    &__item {
        text-align: center;
    }

    &__title {
        padding-top: 28px;
        padding-bottom: 16px;
        color: $textColorLight;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        color: $textFeatColor;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }

    &__form {
        height: 60px;
        text-align: center;
    }
}

.subscr {
    display: flex;
    justify-content: space-around;
    padding-top: 97px;
    padding-bottom: 156px;
    background-image: url(./img/bg_subscribe.jpg);
    background-repeat: round;
    flex-wrap: wrap;

    &__content {
        width: 400px;
        text-align: center;
    }

    &__text {
        color: #222224;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;
    }

    &__title {
        color: #222224;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 167.2%;
    }

    &__subtitle {
        color: #222224;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 167.2%;
        margin-bottom: 32px;
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 256px;
        height: 49px;
        flex-shrink: 0;
        background-color: $backgroundInputForm;
        border: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: $titleColorDark;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__button {
        width: 100px;
        height: 49px;
        flex-shrink: 0;
        background-color: $basketBackground;
        border: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: $textColorLight;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $backgroundDark;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 23px;
}

.copyright {
    color: $textColorLight;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    display: flex;
    gap: 7.29px;

    &__icons {
        display: flex;
        width: 32px;
        height: 32px;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    &__icons:hover {
        background-color: $hoverBackground;
    }

    &__icons:hover path {
        fill: #FFFFFF;
    }
}

@media (max-width: 1150px) {
    .center {
        padding-left: calc(50% - 512px);
        padding-right: calc(50% - 512px);
    }

    .offers {
        grid-template-columns: repeat(3, 320px);

        &__offer .accesories {
            width: 1024px;
        }
    }

    .products {
        grid-template-columns: repeat(3, 320px);
    }
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .top {
        &__title {
            font-size: 44px;
            font-style: normal;
        }

        &__title-small {
            color: #222;
            font-size: 24px;
        }
    }

    .offers {
        margin-bottom: 110px;
        grid-template-columns: repeat(3, 232px);
        gap: 20px;

        &__offer {
            height: 167.617px;
        }

        .accesories {
            width: 734.581px;
            height: 116.043px
        }
    }

    .products {
        margin-top: 74px;
        margin-bottom: 33px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }

    .features {
        flex-wrap: wrap;
    }

    .subscr {
        background-image: url(./img/bg768_subscribe.png);
        gap: 48px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .logo {
        width: 38px;
    }

    .search {
        width: 26px;
    }

    .menu {
        &__lk {
            display: none;
        }

        &__basket {
            display: none;
        }
    }

    .top {
        padding-top: 149px;
        padding-bottom: 149px;

        img {
            display: none;
        }

        .svg__line {
            width: 12px;
            height: 63px;
        }

        &__right {
            justify-content: center;
        }

        &__title {
            font-size: 38px;
        }

        &__title-small {
            font-size: 20px;
        }
    }

    .half {
        width: 100%;
    }

    .offers {
        margin-bottom: 64px;
        grid-template-columns: repeat(1, 343px);
        gap: 32px;

        &__offer {
            height: 247px;
        }

        .accesories {
            width: 343.262px;
            height: 111px;
        }
    }

    .products {
        margin-top: 65px;
        margin-bottom: 40px;
        grid-template-columns: repeat(1, 359px);
    }

    .subscr {
        background-image: url(./img/bg375_subscribe.png);
        background-size: 100%;

        &__input {
            width: 180px;
        }
    }

    .footer {
        padding-top: 43px;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }
}