* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #020A18;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.top {
    border-radius: 10px;
    background-color: #020c1d;
    backdrop-filter: blur(100px);
    padding-bottom: 100px;
}

.header {
    padding-bottom: 160px;
}

.nav {
    display: flex;
    justify-content: center;
}

.header__link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 40px 8px;
}

.header__link:hover {
    color: #3A68B8;
}

.top__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top__title {
    margin-bottom: 40px;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.top__text {
    margin-bottom: 50px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.top__buttons {
    margin-bottom: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button__link {
    border-radius: 5px;
    background-color: #3A68B8;
    padding: 15px 30px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.half {
    width: 47%;
}

.top__logo {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.about {
    margin-top: 157px;
    margin-bottom: 265px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
}

.about__content {
    align-items: center;
}

.title {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.subject {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad__60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    padding-bottom: 50px;
}

.pad__20 {
    padding-bottom: 20px;
}

.text__item {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    align-items: center;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 362px);
    gap: 30px;
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.item {
    text-align: center;
    border-radius: 10px;
    background: #132035;
    backdrop-filter: blur(100px);
    padding: 30px;
}

.item4 {
    grid-column: span 2;
    grid-row: span 2;
}

.blog {
    margin-top: 257px;
    margin-bottom: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.footer {
    border-radius: 10px;
    background-color: #020c1d;
    backdrop-filter: blur(100px);
    padding-top: 48px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.footer__title {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 33px;
}

.footer__info, .footer__site {
    color: var(--ffffff, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 24px;
}

.about__store {
    color: var(--ffffff, #FFF);
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
}

.info, .about__store1, about__store2 {
    width: 30%;
}

.pics_social {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .center {
        padding-left: 11%;
        padding-right: 11%;
        align-content: center;
    }

    .half {
        width: 100%;
    }

    .top__left {
        text-align: center;
        padding-top: 128px;
    }

    .subtitle {
        font-style: 16px;
    }

    .top__title {
        font-style: 48px;
    }

    .info, .about__store1 {
        width: 47%;
    }

    .services {
        padding-left: 11%;
        padding-right: 11%;
        align-content: center;
        grid-template-columns: repeat(1, 362px);
        justify-content: center;
    }

    .item4 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .item4 img {
        width: 98px;
    }

    .pad__60 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .blog {
        margin-top: 157px;
        margin-bottom: 265px;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }

    .subtitle {
        font-size: 14px;
        padding-bottom: 16px;
    }

    .header {
        padding-bottom: 86.5px;
    }

    .header__link {
        font-size: 14px;
    }

    .top__title {
        font-size: 28px;
    }

    .top__logo {
        margin-top: 128px;
        padding-top: 108px;

    }

    .about {
        margin-top: 96px;
        margin-bottom: 96px;
    }

    .title {
        color: #FFF;
        font-size: 24px;
        margin-bottom: 16px;
    }

    .services {
        padding-left: 6.5px;
        padding-right: 6.5px;
        grid-template-columns: repeat(1, 362px);
    }

    .blog {
        margin-top: 96px;
        margin-bottom: 96px;
        gap: 32px;
    }

    .footer {
        padding-top: 113px;
        padding-bottom: 64px;
        flex-direction: column;
    }

    .info, .about__store1, .about__store2 {
        width: 100%;
    }

    .footer__info, .about__store {
        text-align: left;
    }

    .pics_social {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    .top__buttons {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
}